Django==3.2.3
djangorestframework==3.12.4
djoser==2.2.0
webcolors==1.11.1
psycopg2-binary==2.9.3
Pillow==9.0.0
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
PyYAML==6.0
django-cors-headers==3.13.0
gunicorn==20.1.0
python-dotenv==1.0.0
make
django-templated-mail==1.1.1
djangorestframework-simplejwt==5.2.2
django-filter==23.2
PyJWT==2.7.0
asgiref==3.7.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.0
defusedxml==0.7.1
idna==3.4
oauthlib==3.2.2
pycparser==2.21
python3-openid==3.2.0
pytz==2023.3
social-auth-app-django==5.2.0
social-auth-core==4.4.2
sqlparse==0.4.4
typing_extensions==4.6.2
urllib3==2.0.2